* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin-top: 60px;
  background-color: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
}

.header {
  margin: 100px auto 0px auto;
}

.menuContainer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
}

.menu {
  padding: 15px 30px;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
}

.menu:hover {
  background-color: rgb(220, 220, 220);
  transition: 0.2s;
}

.menu:active {
  background-color: rgb(215, 0, 0);
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.gridOne {
  background-color: white;
  display: grid;
  justify-items: end;
  text-align: end;
  padding: 40px;
  align-content: center;
  gap: 20px;
  position: relative;
}

h1::before {
  content: '';
  background-color: red;
  padding: 2px 30px;
  border-radius: 4px;
  position: absolute;
  right: -30px;
  top: 30px;
}

.btnRed {
  color: white;
  padding: 15px 25px;
  background-color: red;
  border-radius: 4px;
  text-transform: uppercase;
}

.btnRed:hover {
  background-color: rgb(215, 0, 0);
}

.gridThree {
  text-align: center;
  font-size: 30px;
}

.gridFour {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: white;
}

.vant:nth-child(odd) {
  background-color: #f7f7f7;
}

.vant:hover {
  border-left: 0.3125rem solid red;
}

.vant {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  grid-column: 2;
  padding: 20px;
}

.vant p {
  grid-column: 2;
}

#text {
  align-self: center;
  text-align: right;
  font-size: 65px;
  text-transform: uppercase;
  color: #c6c6c6;
  padding: 30px;
  background-image: url('./img/onda.svg');
}

footer {
  background-color: white;
  padding: 40px;
  width: 100%;
  text-align: center;
}

footer p span {
  color: #c6c6c6;
}
