::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d70000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:target {
  scroll-margin-top: 0.8em;
}

@media screen and (min-width: 600px) and (max-width: 1012px) {
  .mainContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    max-width: 1000px;
  }
  #first-text::before {
    content: '';
    background-color: red;
    padding: 0.125rem 0.6rem !important;
    border-radius: 4px;
    position: absolute;
    right: 0 !important;
  }
  #text {
    align-self: center !important;
    text-align: center !important;
    text-transform: uppercase;
    color: #c6c6c6 !important;
    padding: 5.5rem 0 !important;
    background-image: url('./img/onda.svg');
  }
  .gridOne {
    background-color: white;
    display: grid;
    justify-items: start !important;
    text-align: start !important;
  }
  img {
    object-fit: left !important;
  }
}

@media screen and (max-width: 600px) {
  .mainContent {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) !important;
    max-width: 1000px;
  }
  #text {
    align-self: center !important;
    text-align: center !important;
    font-size: 2rem !important;
    text-transform: uppercase;
    color: #c6c6c6 !important;
    padding: 5.5rem 0 !important;
    background-image: url('./img/onda.svg');
  }
  #first-text::before {
    content: '';
    background-color: red;
    padding: 0.125rem 0.6rem !important;
    border-radius: 4px;
    position: absolute;
    right: 0 !important;
  }
  body {
    grid-template-columns: 1fr;
    background-image: url('./img/onda.svg') !important;
  }
  nav {
    grid-area: 2;
  }

  .menuContainer {
    margin-top: 170px !important;
    display: flex;
    justify-content: center;
    flex-flow: column wrap !important;
    text-align: center !important;
  }
  header {
    height: 87vh !important;
  }
  footer {
    margin-top: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  margin-top: 130px;
}

body {
  margin-top: 60px;
  background-color: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
}

.header {
  margin: 100px auto 0px auto;
}

.menuContainer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
}

.menu {
  padding: 15px 30px;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
}

.menu:hover {
  background-color: rgb(220, 220, 220);
  transition: 0.2s;
}

.menu:active {
  background-color: rgb(215, 0, 0);
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  max-width: 1000px;
}

.gridOne {
  background-color: white;
  display: grid;
  justify-items: end;
  text-align: end;
  padding: 40px;
  align-content: center;
  gap: 20px;
  position: relative;
}

#first-text {
  font-size: 2rem;
}

#first-text::before {
  content: '';
  background-color: red;
  padding: 2px 30px;
  border-radius: 4px;
  position: absolute;
  right: -30px;
  top: 30px;
}

.btnRed {
  color: white;
  padding: 15px 25px;
  background-color: red;
  border-radius: 4px;
  text-transform: uppercase;
}

.btnRed:hover {
  background-color: rgb(215, 0, 0);
}

.gridThree {
  text-align: center;
  font-size: 30px;
}

.gridFour {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: white;
}

.vant:nth-child(odd) {
  background-color: #f7f7f7;
}

.vant:hover {
  border-left: 0.3125rem solid red;
}

.vant {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  grid-column: 2;
  padding: 1.25rem;
}

.vant p {
  grid-column: 2;
}

#text {
  align-self: center;
  text-align: right;
  font-size: 4.0625rem;
  text-transform: uppercase;
  color: #c6c6c6;
  padding: 1.875rem;
  background-image: url('./img/onda.svg');
}

footer {
  background-color: white;
  padding: 40px;
  width: 100%;
  text-align: center;
}

footer p span {
  color: #c6c6c6;
}
